<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>にじいろミュージックスクール</title>
    <meta name="description" content="概要文を120文字程度">
    <!-- スマホのレスポンシブデザインを実現 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="ページの タイトル" />
    <!-- OGP:ソーシャルメディアで共有された際に、正しく表示させる仕組み -->
    <meta property="og:description" content="ページのディスクリプション" />
    <meta property="og:type" content="ページの種類" />
    <meta property="og:url" content="ページの URL" />
    <meta property="og:image" content="サムネイル画像の URL" />
    <meta property="og:site_name" content="サイト名" />
    <meta property="og:locale" content="ja_JP"  />
    <!-- キーワード -->
    <meta name="keywords" content="キーワード1,キーワード2,キーワード3">
  </head>

  <body>
    <!-- ヘッダー -->
    <header id="header" class="wrapper">
      <div id="header" class="top">
        <h1 class="site-title">
          <a href="https://nijiiro-ms.com/"></a>
        </h1>

        <nav>
          <ul id="topnav" class="top nav clear">
            <li class="box"><a href="#about2">トップ</a></li>
            <li class="box"><a href="#about2">コースご案内</a></li>
            <li class="box"><a href="#about2">講師紹介</a></li>
            <li class="box"><a href="#about2">体験レッスン</a></li>
            <li class="box"><a href="#about2">入会特典</a></li>
            <li class="box"><a href="#about2">料金一覧</a></li>
            <li class="box"><a href="#about2">アクセス</a></li>
            <li class="box"><a href="#about2">お問合せ</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <!-- サイドバー -->
      <div id="sidebar" class="left-1">
        <ul>
            <li><a href="#about">お問合せ</a></li>
            <li><a href="#about">教室カレンダー</a></li>
            <li><a href="#about">ピアノコース</a></li>
            <li><a href="#about">ピアノ体験レッスン</a></li>
            <li><a href="#about">レッスンのご感想</a></li>
            <li><a href="#about">バイオリンコース</a></li>
            <li><a href="#about">ピアノ教室の思い</a></li>
            <li><a href="#about">講師紹介</a></li>
            <li><a href="#about"></a>よくあるお問い合わせ</li>
            <li><a href="#about"></a>入会特典</li>
            <li><a href="#about"></a>レッスン料金一覧</li>
            <li><a href="#about"></a>教室の様子</li>
            <li><a href="#about"></a>アクセス</li>
            <li><a href="#about"></a>プライバシーポリシー</li>
            <li><a href="#about"></a>サービスエリア</li>
            <li><a href="#about"></a>リンク</li>
          </ul>
      </div>

      <!-- / 右サイド -->
      <aside id="sidebar" class="right-1">
        <div id="sns_icon-lg">
            <div id="sns_bl">
              <a class="icon_facebook" href="https://www.facebook.com/"><img alt="~の公式Facebookページ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/ic_fb.svg" width="40"></a>
              <a class="icon_instagram" href="https://www.instagram.com/"><img alt="の公式Instagramページ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/ic_insta.svg" width="40"></a>
              <a class="icon_youtube" href="https://www.youtube.com/"><img alt="の公式Youtubeページ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/ic_youtube.svg" width="40"></a>
            </div>
        </div>
        <div id="side_right">
          <a id="bn_blog" href="https://nijiiro-ms.seesaa.net/"><img alt="ブログ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/blog-bn.png" width="172" height="400"></a>
          <a id="bn_rhythm" href="https://rhythm.nijiiro-ms.com"><img alt="リトミック"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/rhythm-bn.png" width="183" height="414"></a>
          <a id="bn_flute" href="https://flute.nijiiro-ms.com"><img alt="フルート"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/flute_bn.png" width="172" height="400"></a>
        </div>
      </aside>
      <!-- / 右サイド -->

      <div id="content" class="top">
        <!-- アーティクル -->
        <div id="main">
          <article id="article-1" class="wrapper">
            <h2>
              <a id="top_coruse" href="course"><img alt="tittle_top_course" src="tittle_top_course.png" width="359" height="41">
              </a>
            </h2>

            <div id="top_mv" class="youtube">
            <iframe src="https://www.youtube.com/embed/sXQVEr1SD4g?controls=0" width="587" height="348"></iframe>
            <p>沖縄 ピアノ教室<br />にじいろミュージックスクールでは、生徒さんの年齢・ご希望に合せて3つのピアノレッスンコースをご用意しております。</p>
            <p><strong>大人の体験レッスン</strong>や<strong>保育士試験、教員採用試験</strong>のアドバイスも行なっております。</p>
            <p>0歳から3歳半までのお子さまには、リトミック教室をご案内しております。リトミック教室では、乳幼児・幼児期から音楽を通して「心を豊かにする情操教育、音感教育、リズム感教育」を体験頂くことができます。<br />将来、<strong>ピアノ教室</strong>をお考えの方はぜひご検討ください。</p>
          </article>

          <!-- セクション -->
          <section id="about2" class="wrapper">
            <ul>
            </ul>
          </section>

          <!-- セクション -->
          <section id="about2" class="wrapper">
            <ul>
              <li>
                <a href="home.html"><img src="img/logo.svg" alt="img"></a>
              </li>
              <li>
                <a href="home.html"><img src="img/logo.svg" alt="img"></a>
              </li>
            </ul>
          </section>

          <!-- セクション -->
          <section id="about2" class="wrapper">
            <ul>
              <li>
                <a href="home.html"><img src="img/logo.svg" alt="img"></a>
              </li>
              <li>
                <a href="home.html"><img src="img/logo.svg" alt="img"></a>
              </li>
            </ul>
          </section>

          <!-- セクション -->
          <section id="about" class="wrapper">
            <div class="box last">
              <ul>
                <li>
                  <a href="home.html"><img src="img/logo.svg" alt="img"></a>
                </li>
                <li>
                  <a href="home.html"><img src="img/logo.svg" alt="img"></a>
                </li>
                <li>
                  <a href="home.html"><img src="img/logo.svg" alt="img"></a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- フッター -->
    <footer id="footer">
    Copyright(c) 2012 沖縄 ピアノ教室｜にじいろミュージックスクール All Rights Reserved.
    </footer>
  </body>
</html>
