@charset "UTF-8";

html {
  /* フォントサイズを100%で指定しておくことで、ユーザーがブラウザで設定したフォントサイズが正しく反映されます */
  font-size: 100%;
}

body {
  font-family: 14px/1.4 "メイリオ", "Meiryo", arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "MS Pゴシック", "MS PGothic", Sans-Serif;
  color: #616161;
  background: #F7E8BC;
}

a {
  /* サイト内のリンクに下線が表示されないように設定 */
  text-decoration: none;
}

img {
  /* 画像が画面の横幅からはみ出るのを防ぐためにmaxサイズを設定します */
  max-width: 100%;
  border: 0;
  height: auto;
}

li {
  /*list-style: none;*/
}

/*
h1タグ用
line-height にh1タグの高さよりも小さい値「1px」を指定することで、
h1タグの上下の余白が消えるため、ロゴ画像の高さと揃う
「line-height: 0;」を指定してもOKです
*/
.site-title {
  width: 100px;
  line-height: 1px;
  padding: 10px 0;
}

/* aタグのリンク範囲を親要素のサイズに広げます */
.a {
  display: block;
}

/* h2タグ用 */
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
}

/* h3タグ用 */
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

/* 画面の最大幅を指定。共通で使用します, 0 4%はスマホ用*/
.wrapper {
  max-width: 100%;
  margin: auto;
  padding: 0 4%;
  text-align: center;
}

/*************
 header
 *************/
div#header.top {
  width: 1040px;
  height: 541px;
  background-image: image-url("piano_eyecatch.jpg");
  margin: auto;
  position: relative;
}

/*div#header.top {
  position: relative;
  width: 71%;
  height: 540px;
  background-image: image-url("piano_eyecatch.jpg");
  margin: auto;
  top: 0px;
}*/

.logo_main {
  position: absolute;
  width: auto;
  /* 横幅のサイズを指定    */
  /*height: 450pX;*/
  /* 縦幅のサイズを指定    */
  top: 30px;
  left: 350px;
}

.tel {
  position: absolute;
  top: 8px;
  left: 750px;
}

.free_lesson_off {
  position: absolute;
  top: 70px;
  left: 820px;
}

ul#topnav.clear {
  position: relative;
}

ul#topnav {
  margin: 32px auto auto;
  width: 1008px;
  height: 20px;
  padding: 12px 0px;
  /*border-radius*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.24);
  /*box-shadow*/
  -webkit-box-shadow: 0px 0px 10px #fff;
  -moz-box-shadow: 0px 0px 10px #fff;
  box-shadow: 0px 0px 10px #fff;
  /*border-bottom: solid 3px #bbaccd;*/
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
  position: absolute;
  top: 380px;
  left: 1px;
  display: flex;
}

ul#topnav li {
  /*float: left;*/
  list-style: none;
  width: 120px;
  height: 20px;
  border-right: solid 1px #fff;
}

ul#topnav.top {
  margin-top: 206px;
}

ul#topnav a {
  display: block;
  font-size: 1.16em;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 112px;
  text-shadow: 1px 1px #cccccc;
  margin: 0 5px 0 7px;
  padding-bottom: 9px;
}

/*親要素*/
/*#page-header {*/
/*position: relative;*/
/*要素内の余白は消す*/
/*padding: 0;/*
}*/


/*#page-header.site-title {
  position: absolute;
  top: 20px;
  left: 20px;
}*/

/*.clear {
  display: flex;
  flex-wrap: wrap;
  float: bottom;*/
/*place-content:flex-end center;*/
/*justify-self: 位置
  align-self: 縦
}*/

/*div#header.top {
  width: 1040px;
  height: 541px;
  background-image: image-url("piano_eyecatch.jpg");
  margin: auto;
  position: relative;

}*/

/*ul#topnav.clear {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  margin-bottom: 10px;
  coler: #432;
  /*text-align: center;
  position: absolute;
  bottom: 10px;
  border-right: solid 1px #fff;
}*/




/*div#sidebar.left-1 {
  position: absolute;
  display: flex;
  coler: #432;
}*/

/*div#sidebar.right-1 {
  position: absolute;*/
/*display: block;*/
/*width: 184px;
  height: 674px;
  left: 924px;
  right: 1032px;
  top: 558px;
  bottom: 1232px;
}*/


/*.course_mid {
  background-image: url(course_bk_mid.png);
  background-repeat: repeat-y;
  position: absolute;
  width: auto;
  width: 619px;
  height: auto;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;
}*/

/*.course_bottom {
  background-image: url(course_bk_bottom.png);
  background-repeat: no-repeat;
  position: absolute;
  width: auto;

}*/

/*.title_top {
  background-image: url(course_bk_bottom.png);
  background-repeat: no-repeat;
  position: absolute;
  width: auto;

}*/

/*div#main_class.course_mid {
  display: block;
  background-image: url(course_bk_top.gif), url(course_bk_mid.png);
  background-repeat: no-repeat, repeat-y;
  width: 619px;
  height: 600px;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;
}*/

/*div#main_class.course_mid {
  /*display: block;*/
/*background-image: url(course_bk_mid.png);
  background-repeat: repeat-y;
  width: 619px;
  height: auto;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;
  position: relative;
}*/

/*div#article-1.course_bottom {*/
/*display: block;*/
/*background-image: url(course_bk_bottom.png);
  background-repeat: no-repeat;
  width: 619px;
  height: auto;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;
  position: relative;
}*/

/*div#article-2.tittle_top {*/
/*display: block;*/
/*background-image: url(course_bk_top.gif);
  background-repeat: no-repeat;
  width: 619px;
  height: auto;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;
  position: relative;
}*/




/***********************************************
メイン（中央）
***********************************************/
/*コース案内背景*/
/*a#top_coruse,
a#top_column {
  display: block;
  width: 359px;
  margin: 0 auto;
  padding-top: 8px;
}*/

/*#main .course_mid {
  background: url(images/course_bk_mid.png) repeat-y;
}*/

/*#main .course_bottom {
  background: url(images/course_bk_bottom.png) no-repeat bottom left;
}*/

/*#main .course_top {
  background: url(images/course_bk_top.gif) no-repeat top left;
}*/

/*コース案内テキストの配置*/
/*#main div.course_contents {
  position: relative;
}*/

/*#main p.course_text {
  margin-top: 230px;
  padding-top: 30px;
}*/

/*#main p.sec_text {
  padding-top: 10px;
  padding-bottom: 20px;
}*/


/*width: 619px;
  height: 850px;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;*/

/*background-image: url(bg_artdeco.jpg), url(bg_cofee.jpg);
  background-repeat: repeat-x, no-repeat;
  background-position: top, bottom right 20px;*/

/*image-url("course_bk_top.gif") no-repeat;
	image-url("course_bk_mid.png") repeat-y,
  image-url("course_bk_bottom.png") no-repeat;*/
/*background-image: url("course_bk_top.gif"), url("course_bk_mid.png"), url("course_bk_bottom.png");
  background-repeat: no-repeat, repeat-x, no-repeat
  background-position: right 10% bottom 10%, left 10% bottom, left top;
  background-size: 20% auto, 20% auto, 100% auto;*/


/*div#article-4.bottom {
  display: block;
  background-image: url(course_bk_bottom.png);
  background-repeat: no-repeat;
  background-position: bottom;*/

/*width: auto;
  height: auto;
  /*width: 619px;
  left: 301px;
  right: 918px;
  /*top: 0;
}*/

/*article#article-2.wrapper{
  background-image: image-url("course_bk_mid.png");

  width: 617px;
  height: 868px;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;
}*/

/*#footer .box {
  float: left;
  width: 165px;
  margin: 20px 16px 10px 0;
  line-height: 1.8;
  color: #594500;
}*/

/*.box_img {
  padding: 0px 0px 10px 0px;
}*/

/* メインとフッターのリスト位置調節 */
/*#main ul,
#footer ul {
  margin-left: 12px;
}*/

/*#main li,
#footer li {
  margin-bottom: 3px;
}*/





/*************
サイド（左側）コンテンツ
*************/
#sidebar {
  order: 1;
  /*float: left;*/
  width: 185px;
  padding: 6px 9px 15px 18px;
  background-position: 31px 0px;
}

/*#sidebar p {
  margin-bottom: 20px;
}*/

#sidebar h3 {
  text-indent: -9999px;
  height: 0;
}

#sidebar ul {
  margin-left: 5px;
  padding: 10px 0;
}

#sidebar li {
  margin: 0 10px 24px 0px;
  list-style: none;
  /*background: url(images/li-line.png) no-repeat 14px 18px;*/
  background-image: url(li-line.png);
  background-repeat: no-repeat;
  background-position: 14px 18px;
  padding: 0px;
}

#sidebar li a {
  font-size: 108%;
  line-height: 1.6em;
  /*background: url(images/onpu-off.png) no-repeat 0 25%;*/
  background-image: url(onpu-off.png);
  background-repeat: no-repeat;
  display: block;
  padding-left: 18px;
  color: #816400;
}

/***********************************************
メイン（中央）
***********************************************/
/*#sns_icon {
  float: right;
}*/


/*#container {
  
}*/


#main {
  position: relative;
  display: flex;
  flex-direction: row;
  display: inline-block;
  /*overflow: hidden;*/
  max-width: 630px;
  clear: both;
}

/*#column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}*/

#main_class.course_mid {
  display: block;
  background-image: url(course_bk_top.gif), url(course_bk_mid.png);
  background-repeat: no-repeat, repeat-y;
  /*width: 619px;
  height: 600px;
  left: 301px;
  right: 918px;
  top: 558px;
  bottom: 1426px;*/
}

#column {
  color: #FE8738;
}

/*************
サイド（右側）コンテンツ
*************/
/*#wrap_side {
  max-width: 25%;
  max-width: 191px;
}*/

#side_r {
  display: flex;
  flex-direction: column;
  /*width: 185px;
  padding: 6px 9px 15px 18px;
  background-position: 31px 0px;*/
}

/* sns画像を横に並べる */
#sns_bl {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1%;
}

/* フッター */
#footer_wrap {
  position: relative;
}

.inner {
  display: flex;
  background: #D8C78C;
  text-align: left;
}

#f-b {
  background: #3B2D00;
  color: #FFFFFF;
  text-align: center;
}

/*div#footer_down {
  color: #3B2D00;
}*/


/* メインを３つにする */
#container {
  clear: both;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 200px;
}

#content {
  order: 2;
}

#main {
  width: 60%;
  width: 1180px;
  // display: flex;
}

#wrap_side {
  order: 3;
  width: 20%;
  width: 200px;
}

#sidebar {
  order: 1;
  width: 20%;
  width: 200px;
}

/* コースの画像を横に並べる */
.course {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1%;
}

/* news,review２つを横に並べる */
.news_re {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
}

/* バナー画像２つを横に並べる */
.banner {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
}