<!-- フッター -->
<div id="f-a">
  <div id="f-1">
    <div class="inner">
      <div id="logo">
          <!-- ロゴ -->
          <a href="https://nijiiro-ms.com"></a>
            <%= image_tag "logo_footer.png"%>  
          <!--a href="https://nijiiro-ms.com"><img src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/logo_footer.png" width="146" height="101" alt="沖縄 ピアノ教室｜にじいろミュージックスクール" /></a>-->
          <!-- / ロゴ -->
      </div>
      <div class="button">
        <ul>
          <li><a href="https://nijiiro-ms.com">トップページ</a></li>
          <li><a href="https://nijiiro-ms.com/calender">教室カレンダー</a></li>
          <li><a href="https://nijiiro-ms.com/message">音楽教室の想い</a></li>
          <li><a href="https://nijiiro-ms.com/lecturer">講師紹介</a></li>
        </ul>
      </div>
      <div class="button">
        <ul>
          <li><a href="https://nijiiro-ms.com/review">レッスンのご感想</a></li>
          <li><a href="https://nijiiro-ms.com/faq">よくあるお問い合せ</a></li>
          <li><a href="https://nijiiro-ms.com/fee">レッスン料金一覧</a></li>
          <li><a href="https://nijiiro-ms.com/privilege">入会特典</a></li>
        </ul>
      </div>
      <div class="button">
        <ul>
          <li><a href="https://nijiiro-ms.com/course">ピアノコース</a></li>
          <li><a href="https://nijiiro-ms.com/course_violin">バイオリンコース</a></li>
          <li><a href="https://nijiiro-ms.com/facilities">教室の様子・設備</a></li>
          <li><a href="https://nijiiro-ms.com/access">アクセス</a></li>
        </ul>
      </div>
      <div class="button last">
        <ul>
          <li><a href="https://nijiiro-ms.com/contact">お問い合せはこちら</a></li>
          <li><a href="https://nijiiro-ms.com/privacy">プライバシーポリシー</a></li>
          <li><a href="https://nijiiro-ms.com/link">リンク</a></li>
        </ul>
      </div>
      <div id="logo_2">
          <!-- ロゴ -->
          <a href="https://nijiiro-ms.com"></a>
            <%= image_tag "yadokari.png"%>  
          <!--a href="https://nijiiro-ms.com"><img src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/logo_footer.png" width="146" height="101" alt="沖縄 ピアノ教室｜にじいろミュージックスクール" /></a>-->
          <!-- / ロゴ -->
      </div>
      <div id="logo_3">
          <!-- ロゴ -->
          <a href="https://nijiiro-ms.com"></a>
            <%= image_tag "up.png"%>  
          <!--a href="https://nijiiro-ms.com"><img src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/logo_footer.png" width="146" height="101" alt="沖縄 ピアノ教室｜にじいろミュージックスクール" /></a>-->
          <!-- / ロゴ -->
      </div>
    </div>
  </div>
</div>

<!-- フッター -->
<div id="f-b">
<address class="down-bar">Copyright(c) 2012 沖縄 ピアノ教室｜にじいろミュージックスクール All Rights Reserved.</address>
</div>