<!-- ヘッダー -->
<div id="header" class="top">
  <h1 class="site-title">
    <div class="logo_main">
      <%= image_tag "logo_main.png"%>
    </div>
  </h1>
  <div class="tel">
    <%= image_tag "tel.png"%>
  </div>
  <div class="free_lesson_off">
    <%= image_tag "free_lesson_off.png"%>
  </div>
      
  <nav>
    <ul id="topnav" class="clear">
      <li class="button"><a href="about2">トップ</a></li>
      <li class="button"><a href="about2">コースご案内</a></li>
      <li class="button"><a href="about2">講師紹介</a></li>
      <li class="button"><a href="about2">体験レッスン</a></li>
      <li class="button"><a href="about2">入会特典</a></li>
      <li class="button"><a href="about2">料金一覧</a></li>
      <li class="button"><a href="about2">アクセス</a></li>
      <li class="button"><a href="about2">お問合せ</a></li>
    </ul>
  </nav>
</div>
<!-- ヘッダー -->