<!-- 左 カラム -->
<div id="sidebar">
  <div id="pages-2" class="widget widget_pages">
    <h3>ピアノ教室MENU</h3>
    <!--<div id="sidebar" class="left-1">-->
    <ul>
      <li class="page_item page-item-22"><a href="https://nijiiro-ms.com/contact">お問い合せ</a></li>
      <li class="page_item page-item-812"><a href="https://nijiiro-ms.com/calender">教室カレンダー</a></li>
      <li class="page_item page-item-8"><a href="https://nijiiro-ms.com/course">ピアノコース</a></li>
      <li class="page_item page-item-14"><a href="https://nijiiro-ms.com/trial">ピアノ体験レッスン</a></li>
      <li class="page_item page-item-532"><a href="https://nijiiro-ms.com/review">レッスンのご感想</a></li>
      <li class="page_item page-item-1756"><a href="https://nijiiro-ms.com/course_violin">バイオリンコース</a></li>
      <li class="page_item page-item-36"><a href="https://nijiiro-ms.com/message">ピアノ教室の想い</a></li>
      <li class="page_item page-item-12"><a href="https://nijiiro-ms.com/lecturer">講師紹介</a></li>
      <li class="page_item page-item-44"><a href="https://nijiiro-ms.com/faq">よくあるお問い合せ</a></li>
      <li class="page_item page-item-16"><a href="https://nijiiro-ms.com/privilege">入会特典</a></li>
      <li class="page_item page-item-18"><a href="https://nijiiro-ms.com/fee">レッスン料金一覧</a></li>
      <li class="page_item page-item-60"><a href="https://nijiiro-ms.com/facilities">教室の様子</a></li>
      <li class="page_item page-item-20"><a href="https://nijiiro-ms.com/access">アクセス</a></li>
      <li class="page_item page-item-35"><a href="https://nijiiro-ms.com/privacy">プライバシーポリシー</a></li>
      <li class="page_item page-item-38"><a href="https://nijiiro-ms.com/area">サービスエリア</a></li>
      <li class="page_item page-item-169"><a href="https://nijiiro-ms.com/link">リンク</a></li>
    </ul>
  </div>        
</div>
<!-- /  左 カラム  -->    